$blue: #00a9e0;
$size: 75px;
$radius: 200px;

* {
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons { 
}

.circles {
  position: absolute;
  height: 0;
  width: 0;
}

.start-button {
  height: $size;
  width: $size;
  transition: 2s linear all;
    
  .circle{
    height: 0;
    width: 0;
  }
  
  &.active {
    .button {
      margin: 5px 0 0 5px;
      height: $size - 10px;
      width: $size - 10px;
    }
  }
}

.circle {
  position: absolute;
  height: $radius;
  width: $radius;
  top: 0%;
  left: 0%;
  transform-origin: 50% 50%;
  transition: 0.5s linear all;
  transition-timing-function: ease-in-out;
  
  &.ng-hide-add,
  &.ng-hide-remove {
    height: 0;
    width: 0;
  }

  &.ng-hide-add,
  &.ng-hide-remove.ng-hide-remove-active {
    height: $radius;
    width: $radius;
  }
  &.ng-hide-add.ng-hide-add-active {
    height: 0;
    width: 0;
  }
}

.button {
  position: absolute;
  height: $size;
  width: $size;
  top: -$size/2;
  left: -$size/2;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid $blue;
  transition: 0.5s linear all;
  
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $blue;
    text-align: center;
    margin: 0;
    width: 100%;
  }
  
  &.ng-hide-add,
  &.ng-hide-remove {
    height: 0;
    width: 0;
    font-size: 0;
    top: 0;
    left: 0;
  }

  &.ng-hide-add,
  &.ng-hide-remove.ng-hide-remove-active {
    height: $size;
    width: $size;
    top: -$size/2;
    left: -$size/2;
    font-size: 1em;
  }
  &.ng-hide-add.ng-hide-add-active {
    height: 0;
    width: 0;
    font-size: 0;
    top: 0;
    left: 0;
  }
}

.line-container {
  position: absolute;
}

.line {
  position: absolute;
  width: $radius;
  border-top: 2px solid $blue;
  transition:0.5s linear all;
  transition-timing-function: ease-in-out;
  
  &.ng-hide-add,
  &.ng-hide-remove {
    width: 0;
  }

  &.ng-hide-add,
  &.ng-hide-remove.ng-hide-remove-active {
    width: $radius;
  }
  &.ng-hide-add.ng-hide-add-active {
    width: 0;
  }
}